@import "../init";

html {
  &.mobile,
  &.tablet.portrait {
    header {
      nav {
        width: 100%;
        padding: 0;

        a#title {
          padding: 20px 10px;
        }

        #burger {
          position: fixed;
          display: block;
          top: 20px;
          right: 15px;
          margin: 0;
          padding: 0;
        }

        ul {
          height: 1px;
          width: 90%;
          margin: 0 5%;
          text-align: center;
          background-color: @color_white;
          overflow: hidden;
          border-top: 1px solid rgba(100, 100, 100, 0);

          transition: 400ms;

          &.show {
            padding-top: 25px;
            border-top: 1px solid rgba(100, 100, 100, 0.1);
            height: 275px;
          }

          li {
            display: block;

            a {
              display: block;
              padding: 20px 0;
            }

            &:last-child {

              a {
                padding: 20px 0 40px 0;
              }
            }
          }
        }
      }
    }
  }
  &.mobile {
    article {
      padding: 100px 0;

      &:first-child {
        padding: 300px 0 200px;
      }

      table {
        margin: 0;
        width: 100%;

        td {
          padding: 15px 10px;

          &:first-child {
            width: 33%;
          }
        }
      }

      .github {
        margin-top: 100px;
      }
    }

    #skills {
      text-align: center;

      .wrapper {
        display: inline-block;
        width: 66%;
      }
    }

    .internships {
      margin-top: 100px;
    }
  }
}
