@import '../color_palette';

#about-me {

  background-color: @color_primary;
  color: @color_white;

  a {
    color: @color_white;
  }

  .github, img, span {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
  }

  .github {
    color: @color_dark;
    
    img {
      margin-right: 15px;
    }
  }
}