@import "../init";

#skills {
  background-color: @color_white;

  h1 {
    color: @color_dark;
  }

  span {
    display: block;
    width: 100%;
  }

  .wrapper {
    width: 33%;
    display: inline-block;
  }
}
